@use './colors' as *;
@mixin desktop-highlight {
  &::before,
  &::after {
    position: absolute;
    content: '';
    bottom: -0.4em;
    right: 50%;
    height: 0.13em;
    width: 0;
    background-color: $main-white;
    transition: width 0.5s ease-in-out;
  }
  &::after {
    left: 50%;
  }
  &:hover::before,
  &:hover::after {
    width: 50%;
  }
}
@mixin flex-center-items{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-column-center{
  @include flex-center-items;
  flex-direction: column;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}
@mixin flex-center-between {
  @include flex-space-between;
  align-items: center;
}

